body {
  font-family: 'Inter', sans-serif;
}

.hero{
  /* background-color: #fafbff; */
  padding-bottom: 25px;
}

.logo-background {
  font-family: 'Inter', sans-serif;
  background: url("../../static/images/color_palette.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0); /* Make text fully transparent, so clipped background can show through */
}

.button{
  box-shadow: 0px 0px 5px rgba(126, 138, 138, 0.4);
}

.button.is-info.is-light {
  background-color: rgb(230, 243, 254);
}

.button:hover {
  text-shadow: 2px 2px 3px rgba(126, 138, 138, 0.4);
}

.link-block a {
  margin: 5px;
}

.logo {
  width: 35%;
  padding-bottom: 8px;
}
.artalk-results {
  height: 55px;
  margin-bottom: -5px;
}

.gagavatar-results {
  height: 65px;
  margin-bottom: -10px;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
   text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
